.App {
  text-align: center;
}

ul {
  display: table;
  margin: 0 auto;
}

li {
  list-style: none;
  background: #151516;
  margin: 5px;
  width: 200px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border-radius: 12px;
}

li a {
  color: white;
  display: block;
  text-decoration: none;
}

li a:hover {
  background-color: green;
}

.box {
  left: 0;
  line-height: 90px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.inner {
  width: 200px;
  border: solid green;
  padding: 25px;
  border-radius: 12px;
  height: 7em;
  margin: 0 auto;
}

img {
  float: right;
}

div.box h3 {
  display: inline-block;
  text-align: center;
}

.linkName {
  margin: 0 auto;
}
